.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    .search{
        width: 100%;
    }
    .results{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;

        .mat-card {
            width: 300px;
            margin: 15px;
            .mat-card-subtitle{
                a {
                    color: #1e70bf;
                }
            }
            .mat-card-footer{
                display: flex;
                align-items: center;
                color: rgba(0,0,0,.4);
                padding: 5px;

                .mat-icon{
                    cursor: pointer;
                    &:hover{
                        color: #ffb70a;
                    }
                }
            }
        }
    }
}